h1 {
    color:red;
    font-size: 30px;
}
.three {
    color:blue;
    font-size:40px;
}
.second {
    background-color:red;
    color:white;
}
#Hai {
    background-color: blueviolet;
    color:white;
}
.one {
    color:red;
    background-color:blue;
    text-align:center;
}
.hightlight {
    color:red;
}